a(href="http://machycek.com", target="_blank").view__more view more

.panel
  ul.panel__menu#menu
    hr
    li#signIn 
      a(href="#") Login
    li#signUp
      a(href="#") Sign up
  .panel__wrap
    .panel__box.active#signInBox
      label Email
        input(type="email")
      label Password
        input(type="password")
      input(type="submit")
    .panel__box#signUpBox
      label Email
        input(type="email")
      label Password
        input(type="password")
      label Confirm password
        input(type="password")
      input(type="submit")
    
  