input :invalid {
	border-bottom: 2px solid #03A9F4
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(10px, auto);
}

.wrapper-lvl1 {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-gap: 0px;
	grid-auto-rows: minmax(10px, auto);
}

#logincontainer {
	grid-column: 6/6;
	grid-row: 6;
}

form {
	grid-column: 6;
	grid-row: 2;
	text-align: center;
	background-color: #FFC107;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 20px
}

.login {
	grid-column: 6;
	grid-row: 1/2;
	text-align: center;
	background-color: #00BCD4;
	border: 2px solid #00BCD4;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #FFEB3B;
	padding: 20px;
	margin: 0px;
}

.email {
	grid-column: 1;
	grid-row: 20;
	border: 1px solid #607D8B
}

input {
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #607D8B;
	background-color: #dedede
}

.btn {
	width: 191px;
	height: 37px;
	background-color: #673AB7;
	border: 1px solid #673AB7;
	border-radius: 2px
}

.btn: {
	background-color: #03A9F4
}